apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sample-app
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/YOUR_GITHUB/eks-gitops-platform
    path: kubernetes
    targetRevision: main
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
